//css style sheet for documentation.html
//#welcome-section{background-color:grey;width:80vw; height:100vh; text-align: center; margin-left:5rem; margin-top:2.5rem; padding:1rem;}
#projects{background-color:#474646;}

#profile-image {border-style:solid; border-color:white;border-width:2px; border-radius:25%; position:center;width:10rem;height:10rem;}

#navbar {display: flex;flex-direction: rows; justify-items: center; width:80vw;}
.box{text-align:center; width:80vw;; margin-left:5rem; padding:1rem;}
.project-size{height:30rem; width: 30rem;border-style:solid; border-color:white;border-width:1px}
#welcome-section{background-color:grey;width:80vw; height:100vh; text-align: center; margin-left:5rem; margin-top:2.5rem; padding:1rem;}
:root{
    font-size:20px;
    background-color:black;
    color:white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}